::selection{background-color:#2a4244;}
#headsection{
 /* background-color: #202124;*/
  padding: 5%;
  background-color: #2a4244;
}

/******************* title section **********************/
.title{
    background-image: url("matrix.gif");
    text-align: center;
}
.title-box{
    display:inline-block;
    padding: 14%;

}
.head-h{
    font-family: 'Modak', cursive;
    font-size: 3.5rem;
    color: #2a4244;
}
.head-p{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 2.5rem;
    color: #2a4244;
}
.nav-item{
    font-size: larger;
    font-weight: bold;
}
/**************** ABOUT SECTION ******************/
.profile{
    padding-top: 5%;
    padding-bottom: 5%;
    text-align:center;
    color:#2a4244;
}
#about{
    text-align: left;
    padding: 5%;
}
.about-name{
    font-family: 'Berkshire Swash', cursive;
    display: inline-block;
}
.about-details{
    font-size: large;
    display: inline-block;
    font-family: 'Berkshire Swash', cursive;
}
.about-p{
    padding-top: 3%;
    font-family: 'Asap', sans-serif;
    font-size: large;
}
.profile-pic{
    width: 45%;
    padding-bottom: 5%;
}
.education{
    font-family: 'Modak', cursive;
    text-align: center;
    font-size: 4rem;
    padding-top: 6%;
    padding-bottom: 4%;
}
/********* carousel ************/
#testimonial-carousel{
    background-color: #2a4244;
    padding: 10% 10% 5% 10%;
}
.card-title{
    padding: 3%;
}
.card-body{
    background-color: #2a4244;
}
.carusel-item,.card-title,.card-text{
   color:white;
    text-align: center;
}
.card-link{
    color: pink;
    text-decoration: none;
    margin-top: 3%;
}
.project-head{
    color: white;
    font-family: 'Modak', cursive;
    text-align: center;
    font-size: 4rem;
    position: relative;
    bottom: 4rem;
}
.card-header{
    text-align: center;
}


/*************** mobile responsive **************/
@media (max-width:995px) {
    .title{
        padding: 10%;
    }
    .title-box{
        display:inline-block;
        padding: 14%;
    
    }
    .head-h{
        font-family: 'Modak', cursive;
        font-size: 2rem;
        color: #2a4244;
    }
    .head-p{
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 1.5rem;
        color: #2a4244;
    }
    .nav-item{
        font-size: larger;
        font-weight: bold;
    }
    #about{
        text-align: center;
    }
    .profile-pic{
        width: 45%;
        padding: 5%;
    }
    .card-title{
        font-size: large;
        padding-top: 3%;
    }
    .card-text{
        font-size: small;
    }
    .project-head{
        bottom: 1.5rem;
    }
}
